/**
 * @author    Robox
 * @contact   admin@box.agency
 */

$icon-font-path : '../fonts/';

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

/* ==========================================================================
   Base Styles
   ==========================================================================
*/
.cta-mobile{
  display: block;
}
@import 'base';

/**
 * Helper Variables & Functions
 */

$second: #0072ac;
$primary: #ffd500;
$ligntGrey: #a0b2bb;
$green: #9bcd4c;

$font: 'Open Sans', sans-serif;
$font-title: 'Permanent Marker', cursive;

/**
 * Additonal Styles
 */

body{
  font: 1.4em/1.4 $font;
  color: #FFF;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  background: #00274d url(../images/bg.jpg) no-repeat fixed;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}
.pick-btn.pick-btn-lng{
  display: none;
}
::selection {
  background: $primary;
  color: #FFF;
  text-shadow: none;
}
a {
  color: $primary;
  &:hover, &:focus {
    color: $primary;
    text-decoration: none;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}

.loader{
  background-color: transparentize($second,0.2);
  z-index: 1000000;
  .spinner > div{
    background-color: $primary;
  }
}
h1,h2,h3{
  font-family: $font-title;
}


.cta-text{
  margin-top: 30px;
  .title{
    font-size: 30px;
    margin-top: 0;
    color: #ffd500;
    margin-bottom: 25px;
  }
}

.navbar-right{
  li{
    margin-top: 15px;
      @media (max-width: 768px) {
      margin-top: 90px;
      margin-left: 32px;
    }
  }
}

.becreative-logo{
  width: 180px;
  margin: 0px auto 40px;
  display: block;
}
.video-wrapper{
  border-radius: 10px;
  background: #000;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

.fb-connect{
  padding: 6px 30px;
  background: $primary;
  color: $second;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  &:not(.loading):hover{
    color: #FFF;
    transform: scale(1.08);
  }
}

#wrapper{
  flex: 1 0 auto;
}


//  Modal
//----------------------
.modal-content{
  overflow: hidden;
}
.form-particieant{
  padding: 15px
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.77);
  color: white !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  right: -30px;
  top: -30px;
  text-shadow: none;
  @media (max-width: 960px) {
    &{
      right: 10px;
      top: 5px;
      z-index: 1000;
      opacity: 0.5;
    }
  }
}
.modal-btns .btn{
  border-radius: 30px;
  padding: 9px 30px 5px;
  text-transform: uppercase;
  width: 48%;
  float: left;
  font-weight: bold;
  &:hover{
    transform: scale(1.05);
  }
  &.btn-success{
    background-color: $primary;
    border: none;
    color: $second;
    float: right;
  }
  &.btn-primary{
    background-color: $ligntGrey;
    border: none;
  }
}

.form-info-bloc{
  background: $second;
  padding: 15px;
  color: #FFF;
  margin-bottom: 20px;
  .title{
    color: $primary;
  }
  p{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.modal-body{
  padding:0;
}
.modal-content{
  border-radius: 15px;
  border: none;
  color: #6a6d6f;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 60px auto;
  }
}

#actionDetail .modal-content{
  background: transparent;
}

#addPostModal{
  .control-label{
    width: 100%;
    cursor: pointer;
    span{
      color: $second;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.profile-block{
  background-color: #eee;
  display: none;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  .user-name{
    color: #696f73;
    text-transform: uppercase;
    font-size: 14px;
    margin: 6px 0px 2px;
  }
  .user-email{
    font-size: 11px;
    color: #9a9fa2;
    margin: 0;
  }
}
.profile-picture{
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #FFF;
  img{
    width: 100%;
  }
}
.modal-backdrop{
  background-color: rgba(0, 114, 172,1);
  &.in {
    opacity: 0.8 !important;
  }
}

.dropzone-wrapper{
  display: block;
  border: 1px dashed #ccc;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  .dropzone-input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  > span{
    display: block;
  }
  .file .fa{
    color: #2295e1;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .file-name{
    font-size: 12px;
    font-weight: bold;
  }
  .file-size{
    font-size: 10px;
    color: #ccc;
  }
}

.share{
  padding-top: 5px;
  padding-left: 10px;
  border-left: 2px solid rgba(0,0,0,0.2);
  a{
    padding: 5px 20px;
    margin-top: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    color: #999;cursor: pointer;

  }
}

.swal2-overlay{
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1090;
}

.pagination{
  border: 0;
  padding: 0;
  margin: 30px auto;
  li{
    &.active span{
      background-color: $primary !important;
      border-color: $primary !important;
    }
    a, span{
      color: darkgray;
      border:0;
      &:hover{
        color: $primary;
      }
    }
  }
  li:first-child span, li:first-child a{
    border-radius: 30px 0 0 30px;
  }
  li:last-child a, li:last-child span{
    border-radius: 0 30px 30px 0;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer{
  padding: 10px;
  background-color: $primary;
  color: $second;
  font-size: 13px;
  a{
    color: $second;
  }

}










/*

	INSTRUCTIONS ---------------------------------------------------------------------------------

  1. link this stylesheet in the head of your HTML
  	 <link href="YOUR PATH/bh.css" rel="stylesheet" type="text/css" />

  2. Set the file name as data-theme attribute on your input
  	 <input data-theme="bh" />

  3. That's it!

  When you run script the style will be automatically applied.

*/
div.datedropper.bh {
  border-radius: 16px;
  width: 183px;
}
div.datedropper.bh .picker {
  border-radius: 16px;
  box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.13);
}
div.datedropper.bh .pick-l {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
div.datedropper.bh:before,
div.datedropper.bh .pick-submit,
div.datedropper.bh .pick-lg-b .pick-sl:before,
div.datedropper.bh .pick-m,
div.datedropper.bh .pick-lg-h {
  background-color: #ffd500;
}
div.datedropper.bh .pick-y.pick-jump,
div.datedropper.bh .pick li span,
div.datedropper.bh .pick-lg-b .pick-wke,
div.datedropper.bh .pick-btn {
  color: #ffd500;
}
div.datedropper.bh .picker,
div.datedropper.bh .pick-l {
  background-color: #0072ac;
}
div.datedropper.bh .picker,
div.datedropper.bh .pick-arw,
div.datedropper.bh .pick-l {
  color: #FFF;
}
div.datedropper.bh .pick-m,
div.datedropper.bh .pick-m .pick-arw,
div.datedropper.bh .pick-lg-h,
div.datedropper.bh .pick-lg-b .pick-sl,
div.datedropper.bh .pick-submit {
  color: #0072ac;
}
div.datedropper.bh.picker-tiny:before,
div.datedropper.bh.picker-tiny .pick-m {
  background-color: #0072ac;
}
div.datedropper.bh.picker-tiny .pick-m,
div.datedropper.bh.picker-tiny .pick-m .pick-arw {
  color: #FFF;
}
div.datedropper.bh.picker-lkd .pick-submit {
  background-color: #0072ac;
  color: #FFF;
}
